.lobby-controls {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #555;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.game-list-item {
  background: #333;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 400px;
}

.lobby-refresh-btn {
  margin-left: 10px;
}

.game-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
